

p, li{
	color: #797575 !important;
}


img{
	max-width: 100%;
	height: auto;
}
.content-column-content img{
	max-width: 48%;
	margin: 1%;
	float: right;
}

.content-column-content::p(2){
	color: red;
}